
@{
    ViewData["Title"] = "Inicio";
}
   
<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>
</head>
<body>
    <h1>Bienvenido/a</h1>
    
    <br />     
    <br />
    <br />
    <br />
    
    <p>
        <a href="@Url.Action("Login", "Home")" class="btn btn-primary">Acceder</a>
</p> 
</body>
</html>