@{
    ViewData["Title"] = "Reestablecer Contraseña";
}

<h2>Reestablecer Contraseña</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<form method="post" class="form-container">
    <input type="hidden" name="email" value="@ViewData["Email"]" />
    <div class="form-group">
        <label for="nuevaContraseña">Nueva Contraseña:</label>
        <input type="password" id="nuevaContraseña" name="nuevaContraseña" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="confirmarContraseña">Confirmar Contraseña:</label>
        <input type="password" id="confirmarContraseña" name="confirmarContraseña" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
</form>